/* Pagination background white and rounded */
.custom-pagination {
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0px !important;
  /* display: inline-block; */
}

/* Pagination buttons rounded */
.custom-pagination .ant-pagination-item,
.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  /* border: 1px solid #d9d9d9; */
  border-radius: 8px;
}

/* .custom-pagination .ant-pagination-item,
.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next .ant-pagination-item-link svg {
  margin-bottom: 10px;
} */

/* Page size selector input rounded */
.custom-pagination .ant-select-selector {
  border-radius: 8px !important;
}

/* Optional: hover effect for pagination items */
.custom-pagination .ant-pagination-item:hover {
  background-color: #f0f0f0;
}
/* 
.generic-table-wrapper {
  border-radius: 0 0 32px 32px;
  border: 1px solid #d7e6e7;
  background: #fff;
} */
