/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

body {
  font-family: "Poppins", sans-serif;
}
:root {
  font-family: "Poppins", sans-serif;
}
.ant-tabs-tab-active {
  background-color: rgba(134, 254, 150, 0.3) !important;
  border-radius: 5px 5px 0 0;
  padding: 4px 16px !important;
}

.custom-select .ant-select-selector {
  background-color: #fbfbfb !important; /* input text */
  border-color: #efefef !important;
}

.custom-select .ant-select-selection-placeholder {
  color: #163143 !important; /* placeholder */
}

.custom-select .ant-select-arrow {
  color: #163143 !important; /* arrow icon color */
}

.custom-select-forms .ant-select-selector {
  @apply px-6 py-2 bg-[#FFFFFF] border border-[#D7E6E7] rounded-full placeholder-gray-400 transition-all duration-200;
  font-family: poppins !important;
  padding: 13px 53px 13px 14px !important;
  border-color: #69c920 !important;
}

/* Hover border */
.custom-select-forms:hover .ant-select-selector {
  border-color: #69c920 !important;
}

.custom-select-forms-error .ant-select-selector {
  @apply px-6 py-2 bg-[#FFFFFF] border border-[#D7E6E7] rounded-full placeholder-gray-400 transition-all duration-200;
  font-family: poppins !important;
  padding: 13px 53px 13px 14px !important;
  border-color: #ff5546 !important;
}
/* Ant Design Tab Customization */
.qa-form-tabs .ant-tabs-nav {
  /* background-color: #e8f5e9; */
  padding: 0;
  margin: 0;
}

/* Making each tab take 50% width */
.qa-form-tabs .ant-tabs-nav-list {
  width: 100%;
  display: flex;
}

.qa-form-tabs .ant-tabs-tab {
  background-color: transparent;
  border: none;
  padding: 16px 32px;
  color: #666;
  font-weight: 500;
  flex: 1;
  justify-content: center;
  margin: 0 !important;
}

.qa-form-tabs .ant-tabs-tab-active {
  background-color: #e8f5e9;
  color: #000;
}

.qa-form-tabs .ant-tabs-tab:hover {
  color: #000;
}

.qa-form-tabs .ant-tabs-ink-bar {
  display: none;
}

.qa-form-tabs .ant-tabs-content-holder {
  padding-top: 24px;
}

/* antd range picker */
.range-picker {
  transition: width 0.25s ease;
}

/* Initial state */
.range-picker.collapsed {
  width: 300px;
}

/* Expanded after end date */
.range-picker.expanded {
  width: 300px;
}

.range-picker.collapsed .ant-picker-input input {
  text-overflow: clip;
  white-space: nowrap;
  overflow: visible;
}

.range-picker.collapsed .ant-picker-input:last-child,
.range-picker.collapsed .ant-picker-range-separator {
  display: none;
}

.range-picker.expanded .ant-picker-input:last-child,
.range-picker.expanded .ant-picker-range-separator {
  display: inline-flex;
}

.ant-drawer-mask {
  /* backdrop-filter: blur(8px);
  background-color: transparent !important;
  transition: backdrop-filter 0.3s ease; */

  backdrop-filter: blur(2px);
  background-color: rgba(22, 49, 67, 0.1) !important;
  /* transition: backdrop-filter 0.3s ease; */
}

/* custom animation */
.custom-slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade out animation */
.custom-fade-out {
  animation: fadeOut 0.15s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0); /* stays in place */
  }
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1.33px solid #163143;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #69c920;
  border-color: #69c920;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox:focus {
  outline: none;
  box-shadow: none;
}

.ant-drawer-body {
  padding: 0px !important;
}
